@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="interfaceController as intCtrl" ng-init="intCtrl.init()">
    <div class="row">
        <div class="col-md-6">
            <button ng-click="intCtrl.updateSegment()">Update segment</button>
        </div>
        <div class="col-md-6">
            first point:<span ng-bind="intCtrl.segmentData.CoordinatesList[0].X">X1</span>;<span ng-bind="intCtrl.segmentData.CoordinatesList[0].Y">Y1</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button ng-click="intCtrl.saveSegment()">Save segment</button>
        </div>
        <div class="col-md-6">
            second point:<span ng-bind="intCtrl.segmentData.CoordinatesList[1].X">X1</span>;<span ng-bind="intCtrl.segmentData.CoordinatesList[1].Y">Y1</span>
        </div>
    </div>
</div>
<div class="row" style="height:500px" ng-controller="segmentController as segmCtrl">
    
</div>